In [1]:
import jn_setup
from tools.paths import *

In [2]:
import pyabc

In [3]:
# retrieve stored run - run ID 1
database_dir = os.path.join(temp_path, 'results_db')  
db_path = ("sqlite:///" +
           os.path.join(database_dir, "dm_cl_dask_2p_1g_2n_d4182e7e.db"))
history = pyabc.History(db_path)
history.id = 1

In [4]:
df, w = history.get_distribution(m=0, t = history.max_t)

In [5]:
df

name   NImperv           kd
id
2     0.012067  4576.949074
3     0.019552  5699.402340

In [6]:
w

array([0.5, 0.5])

In [7]:
history.get_nr_particles_per_population()

-1    1
 0    2
Name: t, dtype: int64

In [8]:
history.get_population_extended(t=0)

,distance,w,par_NImperv,par_kd,sumstat_2009-02-13_28,sumstat_2009-04-07_28,sumstat_2009-04-13_28
particle_id,,,,,,,
2,2.841667e+22,0.5,0.012067,4576.949074,515650.0,4.929000e+09,9206300.0
3,5.028050e+22,0.5,0.019552,5699.402340,596920.0,6.556500e+09,11720000.0

In [10]:
history.all_runs()

In [11]:
history.get_all_populations()

   t        population_end_time  samples       epsilon  particles
0 -1 2021-03-05 09:20:27.781686        2           inf          1
1  0 2021-03-05 09:25:11.216620        2  1.460228e+23          2