In [1]:
import jn_setup
from tools.paths import *

To activate debug mode, run 'inp_path = set_inp_path('debug')'.
To activate test mode, run 'inp_path = set_inp_path('test')'.
To activate run mode, run 'inp_path = set_inp_path('run')'.

In [2]:
import pyabc

In [3]:

# retrieve stored run - run ID 1
database_dir = os.path.join(temp_path, 'results_db')  
db_path = ("sqlite:///" +
           os.path.join(database_dir, "ndm_2g_sxs_8aca247e.db"))
history = pyabc.History(db_path)
history.id = 1

In [4]:
df, w = history.get_distribution(m=0, t = history.max_t)

In [5]:
df

name   NImperv           kd
id
6     0.014884  4691.020685
7     0.022251  3105.995203
8     0.020706  4261.422297
9     0.020809  4196.894801

In [6]:
w

array([0.30352392, 0.22033083, 0.24161676, 0.23452849])

In [7]:
history.get_nr_particles_per_population()

-1    1
 0    4
 1    4
Name: t, dtype: int64

In [8]:
history.get_population_extended(t=0)

,distance,w,par_NImperv,par_kd,sumstat_2009-02-13_28,sumstat_2009-04-07_28,sumstat_2009-04-13_28
particle_id,,,,,,,
2,4.875580e+22,0.25,0.018648,3700.886567,10155000,6455100000,125910000
3,4.719356e+21,0.25,0.012514,3740.632157,7527300,2004600000,128000000
4,1.321246e+22,0.25,0.024907,3029.707153,1449800,3356300000,177130000
5,7.725537e+22,0.25,0.011843,5795.620291,2241400,8127000000,46252000

In [13]:
history.get_population_extended(t=1)

,distance,w,par_NImperv,par_kd,sumstat_2009-02-13_28,sumstat_2009-04-07_28,sumstat_2009-04-13_28
particle_id,,,,,,,
6,4.740591e+21,0.303524,0.014884,4691.020685,685520,2013100000,21088000
7,9.782566e+21,0.220331,0.022251,3105.995203,64973,2892000000,6437900
8,2.668207e+17,0.241617,0.020706,4261.422297,35461,14672000,3585000
9,1.758244e+22,0.234528,0.020809,4196.894801,253040,3877100000,19600000

In [11]:
history.all_runs()

In [12]:
history.get_all_populations()

   t        population_end_time  samples       epsilon  particles
0 -1 2021-02-22 10:46:06.212149        4           inf          1
1  0 2021-02-22 10:55:49.890782       10  1.952799e+23          4
2  1 2021-02-22 11:08:37.306868       30  3.098413e+22          4