In [1]:
import jn_setup
from tools.paths import *

To activate debug mode, run 'inp_path = set_inp_path('debug')'.
To activate test mode, run 'inp_path = set_inp_path('test')'.
To activate run mode, run 'inp_path = set_inp_path('run')'.

In [2]:
import pyabc

In [3]:

# retrieve stored run - run ID 1
database_dir = os.path.join(temp_path, 'results_db')  
db_path = ("sqlite:///" +
           os.path.join(database_dir, "test_pyabc_0b5a2f86.db"))
history = pyabc.History(db_path)
history.id = 1

In [4]:
df, w = history.get_distribution(m=0, t = history.max_t)

In [5]:
df

name   NImperv           kd
id
6     0.020340  2447.159458
7     0.016391  3577.890271
8     0.012945  4061.870047
9     0.012315  2770.991136

In [6]:
w

array([0.21282351, 0.26348363, 0.30361807, 0.22007479])

In [7]:
history.get_nr_particles_per_population()

-1    1
 0    4
 1    4
Name: t, dtype: int64

In [8]:
history.get_population_extended(t=0)

,distance,w,par_NImperv,par_kd,sumstat_2009-02-13_28,sumstat_2009-04-07_28,sumstat_2009-04-13_28
particle_id,,,,,,,
2,1.583121e+24,0.25,0.016074,2680.436649,113650000,36769000000,1238100000

In [9]:
history.get_population_extended(t=1)

,distance,w,par_NImperv,par_kd,sumstat_2009-02-13_28,sumstat_2009-04-07_28,sumstat_2009-04-13_28
particle_id,,,,,,,
6,1.583121e+24,0.212824,0.020340,2447.159458,113650000,36769000000,1238100000
7,1.583121e+24,0.263484,0.016391,3577.890271,113650000,36769000000,1238100000
8,1.583121e+24,0.303618,0.012945,4061.870047,113650000,36769000000,1238100000
9,1.583121e+24,0.220075,0.012315,2770.991136,113650000,36769000000,1238100000

In [10]:
history.get_population_extended(t=2)

Empty DataFrame
Columns: [epsilon, samples, m, model_name, p_model, w, particle_id, distance, par_name, par_val, sumstat_name, sumstat_val]
Index: []

In [11]:
history.all_runs()

In [12]:
history.get_all_populations()

   t        population_end_time  samples       epsilon  particles
0 -1 2021-02-23 16:51:58.208050        4           inf          1
1  0 2021-02-23 16:56:59.644528        4  1.583121e+24          4
2  1 2021-02-23 16:59:29.119326        4  1.583121e+24          4