In [1]:
import jn_setup
from tools.paths import *

To activate debug mode, run 'inp_path = set_inp_path('debug')'.
To activate test mode, run 'inp_path = set_inp_path('test')'.
To activate run mode, run 'inp_path = set_inp_path('run')'.

In [2]:
import pyabc

In [3]:

# retrieve stored run - run ID 1
database_dir = os.path.join(temp_path, 'results_db')  
db_path = ("sqlite:///" +
           os.path.join(database_dir, "ndm_3g_sxs_79ef2cfc.db"))
history = pyabc.History(db_path)
history.id = 1

In [4]:
df, w = history.get_distribution(m=0, t = history.max_t)

In [5]:
df

name   NImperv           kd
id
10    0.013048  2791.078061
11    0.010000  2681.951494
12    0.012912  3326.060794
13    0.013894  3420.363418

In [6]:
w

array([0.12195283, 0.13519965, 0.3244742 , 0.41837332])

In [7]:
history.get_nr_particles_per_population()

-1    1
 0    4
 1    4
 2    4
Name: t, dtype: int64

In [8]:
history.get_population_extended(t=0)

,distance,w,par_NImperv,par_kd,sumstat_2009-02-13_28,sumstat_2009-04-07_28,sumstat_2009-04-13_28
particle_id,,,,,,,
2,2.343468e+22,0.25,0.013965,3787.829480,2896700.0,4.470900e+09,216250000.0
3,8.366481e+22,0.25,0.022073,3779.613928,8627100.0,8.455600e+09,181220000.0
4,1.058890e+23,0.25,0.017545,4142.017894,6689700.0,9.513600e+09,149260000.0
5,8.555066e+22,0.25,0.012712,3022.259287,14755000.0,8.550700e+09,166520000.0

In [9]:
history.get_population_extended(t=1)

,distance,w,par_NImperv,par_kd,sumstat_2009-02-13_28,sumstat_2009-04-07_28,sumstat_2009-04-13_28
particle_id,,,,,,,
6,2.254771e+22,0.296043,0.014087,2803.523881,137230,4390600000,5635000
7,2.441634e+21,0.200185,0.012002,3078.196640,41220,1444800000,7306900
8,7.746630e+22,0.142139,0.013677,3387.392216,1119100,8138100000,44008000
9,1.086771e+22,0.361634,0.011834,2712.781561,5029400,3043900000,161590000

In [12]:
history.get_population_extended(t=2)

,distance,w,par_NImperv,par_kd,sumstat_2009-02-13_28,sumstat_2009-04-07_28,sumstat_2009-04-13_28
particle_id,,,,,,,
10,7.233255e+20,0.121953,0.013048,2791.078061,19392.0,7.863900e+08,2313100.0
11,5.330485e+21,0.135200,0.010000,2681.951494,686540.0,2.134700e+09,20199000.0
12,1.263470e+22,0.324474,0.012912,3326.060794,316320.0,3.286600e+09,20747000.0
13,1.034111e+21,0.418373,0.013894,3420.363418,581530.0,9.401600e+08,14911000.0

In [10]:
history.all_runs()

In [11]:
history.get_all_populations()

   t        population_end_time  samples       epsilon  particles
0 -1 2021-02-22 11:51:05.184991        4           inf          1
1  0 2021-02-22 12:00:49.034855       12  5.342926e+23          4
2  1 2021-02-22 12:05:44.680279        6  8.460774e+22          4
3  2 2021-02-22 12:18:58.385523       29  1.509442e+22          4