In [1]:
import jn_setup
from tools.paths import *

In [2]:
import pyabc

In [3]:

# retrieve stored run - run ID 1
database_dir = os.path.join(temp_path, 'results_db')  
db_path = ("sqlite:///" +
           os.path.join(database_dir, "dm_34p_sxs_b247c394.db"))
history = pyabc.History(db_path)
history.id = 1

In [4]:
df, w = history.get_distribution(m=0, t = history.max_t)

In [5]:
df

name,BCoeff2,Decay,DryTime,FC,Kdecay,Ksat,MaxRate,MinRate,NImperv,NPerv,...,doc1,doc2,froc1,froc2,hydro,kd,photo,porosity,sol,sused
id,,,,,,,,,,,,,,,,,,,,,
6,0.852628,4.574531,6.685990,0.266943,0.140851,5.902362,95.501086,6.887867,0.013982,0.259732,...,9.426162,37.509068,0.068889,0.002769,195.998128,3531.379771,240.026966,0.528963,0.495462,48.879994
7,0.727552,6.463327,4.054199,0.268970,0.141231,4.144201,85.285429,4.674086,0.010954,0.439656,...,7.074738,23.917513,0.023855,0.002447,104.605814,4708.014411,170.374746,0.528572,0.687968,77.945408
8,0.815736,5.740980,4.977049,0.271637,0.129195,4.843716,102.215935,4.893792,0.012121,0.345440,...,8.715483,33.005208,0.049394,0.003611,138.415043,5105.137006,192.475622,0.512816,0.664287,72.038387
9,0.897323,4.222520,6.314928,0.237592,0.121086,6.318039,105.624722,5.384636,0.014492,0.210061,...,9.403439,43.821934,0.082304,0.005158,216.867820,4172.675026,238.727829,0.466191,0.515375,54.288122

In [6]:
w

array([0.23942911, 0.23429386, 0.25303325, 0.27324379])

In [7]:
history.get_nr_particles_per_population()

-1    1
 0    4
 1    4
Name: t, dtype: int64

In [8]:
history.get_population_extended(t=0)

,distance,w,par_BCoeff2,par_Decay,par_DryTime,par_FC,par_Kdecay,par_Ksat,par_MaxRate,par_MinRate,...,par_froc2,par_hydro,par_kd,par_photo,par_porosity,par_sol,par_sused,sumstat_2009-02-13_28,sumstat_2009-04-07_28,sumstat_2009-04-13_28
particle_id,,,,,,,,,,,,,,,,,,,,,
2,3.669191e+22,0.25,0.824483,4.607080,3.284448,0.136317,0.092682,6.161775,92.436107,0.645646,...,0.009502,213.694904,4723.852653,192.191703,0.312080,0.589087,79.678893,262810,5600900000,6933200
3,1.834644e+20,0.25,0.761164,6.712002,4.806959,0.318840,0.146260,3.838021,98.164092,5.935797,...,0.001086,84.615784,5308.240580,173.057809,0.588887,0.732090,76.363805,828360,395570000,19455000
4,1.880216e+22,0.25,0.984256,2.501303,10.209094,0.287703,0.152212,7.772322,103.882066,10.612224,...,0.001675,293.091313,1807.303746,326.165357,0.573169,0.254726,10.101071,144410,4009300000,24847000
5,1.849171e+22,0.25,0.626820,5.911681,2.713475,0.166457,0.142328,4.781056,47.826609,2.814743,...,0.004284,148.194519,2688.610497,171.361267,0.423387,0.547807,75.361966,1220400,3974400000,117550000

In [9]:
history.get_population_extended(t=1)

,distance,w,par_BCoeff2,par_Decay,par_DryTime,par_FC,par_Kdecay,par_Ksat,par_MaxRate,par_MinRate,...,par_froc2,par_hydro,par_kd,par_photo,par_porosity,par_sol,par_sused,sumstat_2009-02-13_28,sumstat_2009-04-07_28,sumstat_2009-04-13_28
particle_id,,,,,,,,,,,,,,,,,,,,,
6,2.625942e+21,0.239429,0.852628,4.574531,6.685990,0.266943,0.140851,5.902362,95.501086,6.887867,...,0.002769,195.998128,3531.379771,240.026966,0.528963,0.495462,48.879994,89551.0,1.498300e+09,13148000.0
7,1.346076e+21,0.234294,0.727552,6.463327,4.054199,0.268970,0.141231,4.144201,85.285429,4.674086,...,0.002447,104.605814,4708.014411,170.374746,0.528572,0.687968,77.945408,87958.0,1.072600e+09,19254000.0
8,1.608372e+21,0.253033,0.815736,5.740980,4.977049,0.271637,0.129195,4.843716,102.215935,4.893792,...,0.003611,138.415043,5105.137006,192.475622,0.512816,0.664287,72.038387,70260.0,1.172600e+09,10154000.0
9,9.816414e+21,0.273244,0.897323,4.222520,6.314928,0.237592,0.121086,6.318039,105.624722,5.384636,...,0.005158,216.867820,4172.675026,238.727829,0.466191,0.515375,54.288122,215390.0,2.897000e+09,5910600.0

In [11]:
history.all_runs()

In [12]:
history.get_all_populations()

   t        population_end_time  samples       epsilon  particles
0 -1 2021-03-02 07:26:12.934692        4           inf          1
1  0 2021-03-02 07:51:08.849590       25  3.863247e+22          4
2  1 2021-03-02 07:56:09.783548        5  1.864694e+22          4